body {
    background-color: 69D9E0;
    font-family: 'Raleway', sans-serif;
    min-width: 320px;
    display: none;
}
#clock {
    font-size: 3.5em;
    margin-bottom: 18px;
    color: white;
    text-align: center;
}
#per, #min-left, #until-school {
    font-size: 2em;
    color: white;
    margin-bottom: 18px;
    text-align: center;
}
#cal {
    margin-bottom: 18px;
}
#weather {
    max-width: 380px;
    margin: 0px auto;
}
table {
    background-color: white;
    font-size: 1.1em;
    color: 01AFD2;
}
@media screen and (min-width: 768px) {
    table {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 767px) {
    #left-col {
        display: none;
    }
}
