body {
	background-color:69D9E0;
	color:white;
	font-family: 'Raleway', sans-serif;
	text-align:center;
}
#clock {
	font-size:50px;
	margin-bottom:18px;
}
#curr {
	font-size:30px;
	margin-bottom:18px;
}
.selected {
	background-color:blue;
	font-style:bold;
}
.container>div {
	height:36px;
	font-size:18px;
}
.time {
	font-size:18px;
}
