body {
	background-color:69D9E0;
	color:white;
	font-family: 'Raleway', sans-serif;
}
#clock {
	font-size:75px;
	text-align:center;
	margin-bottom:30px;
}
#curr {
	text-align:center;
	font-size:30px;
	margin-bottom:50px;
}
table {
	margin:auto;
	border-collapse: collapse;
	text-align:center;
	font-size:18px;
}
td {
	padding:10px;
}
